Source: thunderbird
Section: mail
Priority: optional
Maintainer: Clement Lefebvre <root@linuxmint.com>
Build-Depends: debhelper (>= 11), wget, python3
Standards-Version: 3.7.2

Package: thunderbird
Architecture: any
Breaks: thunderbird-dbg (<< 1:115.8.1+build1+snap1), thunderbird-dev (<< 1:115.8.1+build1+snap1), thunderbird-geckodriver (<< 1:115.8.1+build1+snap1), thunderbird-mozsymbols (<< 1:115.8.1+build1+snap1)
Replaces: thunderbird-dbg (<< 1:115.8.1+build1+snap1), thunderbird-dev (<< 1:115.8.1+build1+snap1), thunderbird-geckodriver (<< 1:115.8.1+build1+snap1), thunderbird-mozsymbols (<< 1:115.8.1+build1+snap1)
Provides:
 mail-reader,
 thunderbird-gnome-support,
 thunderbird-locale-bn,
 thunderbird-locale-bn-bd,
 thunderbird-locale-mk,
 thunderbird-locale-si,
 thunderbird-locale-fa,
 thunderbird-locale-ta,
 thunderbird-locale-ta-lk
Pre-Depends: ubuntu-system-adjustments (>= 2021.12.16)
Description: Email, RSS and newsgroup client with integrated spam filter
 Thunderbird is a full-featured email, RSS and newsgroup client that makes
 emailing safer, faster and easier than ever before. It supports different mail
 accounts (POP, IMAP, Gmail), has a simple mail account setup wizard, one-
 click address book, tabbed interface, an integrated learning spam filter,
 advanced search and indexing capabilities, and offers easy organization
 of mails with tagging and virtual folders. It also features unrivalled
 extensibility.

Package: thunderbird-dbg
Architecture: any
Section: debug
Priority: extra
Description: Email, RSS and newsgroup client - debug symbols
 .
 This is a transitional package. It can be safely removed.

Package: thunderbird-dev
Architecture: any
Section: mail
Priority: extra
Description: Email, RSS and newsgroup client - development files
 .
 This is a transitional package. It can be safely removed.

Package: thunderbird-mozsymbols
Architecture: amd64 i386
Section: debug
Priority: extra
Description: Email, RSS and newsgroup client - Breakpad symbols
 .
 This is a transitional package. It can be safely removed.

Package: thunderbird-locale-af
Architecture: any
Depends: ${misc:Depends}
Description: Afrikaans language packs for Thunderbird
 Afrikaans language packs for the Mozilla Thunderbird Mail Client.

Package: thunderbird-locale-ar
Architecture: any
Depends: ${misc:Depends}
Description: Arabic language packs for Thunderbird
 Arabic language packs for the Mozilla Thunderbird Mail Client.

Package: thunderbird-locale-ast
Architecture: any
Depends: ${misc:Depends}
Description: Asturian language packs for Thunderbird
 Asturian language packs for the Mozilla Thunderbird Mail Client.

Package: thunderbird-locale-be
Architecture: any
Depends: ${misc:Depends}
Description: Belarusian language packs for Thunderbird
 Belarusian language packs for the Mozilla Thunderbird Mail Client.

Package: thunderbird-locale-bg
Architecture: any
Depends: ${misc:Depends}
Description: Bulgarian language packs for Thunderbird
 Bulgarian language packs for the Mozilla Thunderbird Mail Client.

Package: thunderbird-locale-br
Architecture: any
Depends: ${misc:Depends}
Description: Breton language packs for Thunderbird
 Breton language packs for the Mozilla Thunderbird Mail Client.

Package: thunderbird-locale-ca
Architecture: any
Depends: ${misc:Depends}
Description: Catalan; Valencian language packs for Thunderbird
 Catalan; Valencian language packs for the Mozilla Thunderbird Mail Client.

Package: thunderbird-locale-cak
Architecture: any
Depends: ${misc:Depends}
Description: Kaqchikel language packs for Thunderbird
 Kaqchikel language packs for the Mozilla Thunderbird Mail Client.

Package: thunderbird-locale-cs
Architecture: any
Depends: ${misc:Depends}
Description: Czech language packs for Thunderbird
 Czech language packs for the Mozilla Thunderbird Mail Client.

Package: thunderbird-locale-cy
Architecture: any
Depends: ${misc:Depends}
Description: Welsh language packs for Thunderbird
 Welsh language packs for the Mozilla Thunderbird Mail Client.

Package: thunderbird-locale-da
Architecture: any
Depends: ${misc:Depends}
Description: Danish language packs for Thunderbird
 Danish language packs for the Mozilla Thunderbird Mail Client.

Package: thunderbird-locale-de
Architecture: any
Depends: ${misc:Depends}
Description: German language packs for Thunderbird
 German language packs for the Mozilla Thunderbird Mail Client.

Package: thunderbird-locale-dsb
Architecture: any
Depends: ${misc:Depends}
Description: Lower Sorbian language packs for Thunderbird
 Lower Sorbian language packs for the Mozilla Thunderbird Mail Client.

Package: thunderbird-locale-el
Architecture: any
Depends: ${misc:Depends}
Description: Greek language packs for Thunderbird
 Greek language packs for the Mozilla Thunderbird Mail Client.

Package: thunderbird-locale-en
Architecture: any
Depends: ${misc:Depends}
Provides: thunderbird-locale-en-ca, thunderbird-locale-en-gb, thunderbird-locale-en-us
Description: English language packs for Thunderbird
 English language packs for the Mozilla Thunderbird Mail Client.

Package: thunderbird-locale-es
Architecture: any
Depends: ${misc:Depends}
Provides: thunderbird-locale-es-ar, thunderbird-locale-es-es, thunderbird-locale-es-mx
Description: Spanish; Castilian language packs for Thunderbird
 Spanish; Castilian language packs for the Mozilla Thunderbird Mail Client.

Package: thunderbird-locale-et
Architecture: any
Depends: ${misc:Depends}
Description: Estonian language packs for Thunderbird
 Estonian language packs for the Mozilla Thunderbird Mail Client.

Package: thunderbird-locale-eu
Architecture: any
Depends: ${misc:Depends}
Description: Basque language packs for Thunderbird
 Basque language packs for the Mozilla Thunderbird Mail Client.

Package: thunderbird-locale-fi
Architecture: any
Depends: ${misc:Depends}
Description: Finnish language packs for Thunderbird
 Finnish language packs for the Mozilla Thunderbird Mail Client.

Package: thunderbird-locale-fr
Architecture: any
Depends: ${misc:Depends}
Description: French language packs for Thunderbird
 French language packs for the Mozilla Thunderbird Mail Client.

Package: thunderbird-locale-fy
Architecture: any
Depends: ${misc:Depends}
Provides: thunderbird-locale-fy-nl
Description: Western Frisian language packs for Thunderbird
 Western Frisian language packs for the Mozilla Thunderbird Mail Client.

Package: thunderbird-locale-ga
Architecture: any
Depends: ${misc:Depends}
Provides: thunderbird-locale-ga-ie
Description: Irish language packs for Thunderbird
 Irish language packs for the Mozilla Thunderbird Mail Client.

Package: thunderbird-locale-gd
Architecture: any
Depends: ${misc:Depends}
Description: Gaelic; Scottish Gaelic language packs for Thunderbird
 Gaelic; Scottish Gaelic language packs for the Mozilla Thunderbird Mail Client.

Package: thunderbird-locale-gl
Architecture: any
Depends: ${misc:Depends}
Description: Galician language packs for Thunderbird
 Galician language packs for the Mozilla Thunderbird Mail Client.

Package: thunderbird-locale-he
Architecture: any
Depends: ${misc:Depends}
Description: Hebrew language packs for Thunderbird
 Hebrew language packs for the Mozilla Thunderbird Mail Client.

Package: thunderbird-locale-hr
Architecture: any
Depends: ${misc:Depends}
Description: Croatian language packs for Thunderbird
 Croatian language packs for the Mozilla Thunderbird Mail Client.

Package: thunderbird-locale-hsb
Architecture: any
Depends: ${misc:Depends}
Description: Sorbian, Upper language packs for Thunderbird
 Sorbian, Upper language packs for the Mozilla Thunderbird Mail Client.

Package: thunderbird-locale-hu
Architecture: any
Depends: ${misc:Depends}
Description: Hungarian language packs for Thunderbird
 Hungarian language packs for the Mozilla Thunderbird Mail Client.

Package: thunderbird-locale-hy
Architecture: any
Depends: ${misc:Depends}
Provides: thunderbird-locale-hy-am
Description: Armenian language packs for Thunderbird
 Armenian language packs for the Mozilla Thunderbird Mail Client.

Package: thunderbird-locale-id
Architecture: any
Depends: ${misc:Depends}
Description: Indonesian language packs for Thunderbird
 Indonesian language packs for the Mozilla Thunderbird Mail Client.

Package: thunderbird-locale-is
Architecture: any
Depends: ${misc:Depends}
Description: Icelandic language packs for Thunderbird
 Icelandic language packs for the Mozilla Thunderbird Mail Client.

Package: thunderbird-locale-it
Architecture: any
Depends: ${misc:Depends}
Description: Italian language packs for Thunderbird
 Italian language packs for the Mozilla Thunderbird Mail Client.

Package: thunderbird-locale-ja
Architecture: any
Depends: ${misc:Depends}
Description: Japanese language packs for Thunderbird
 Japanese language packs for the Mozilla Thunderbird Mail Client.

Package: thunderbird-locale-ka
Architecture: any
Depends: ${misc:Depends}
Description: Georgian language packs for Thunderbird
 Georgian language packs for the Mozilla Thunderbird Mail Client.

Package: thunderbird-locale-kab
Architecture: any
Depends: ${misc:Depends}
Description: Kabyle language packs for Thunderbird
 Kabyle language packs for the Mozilla Thunderbird Mail Client.

Package: thunderbird-locale-kk
Architecture: any
Depends: ${misc:Depends}
Description: Kazakh language packs for Thunderbird
 Kazakh language packs for the Mozilla Thunderbird Mail Client.

Package: thunderbird-locale-ko
Architecture: any
Depends: ${misc:Depends}
Description: Korean language packs for Thunderbird
 Korean language packs for the Mozilla Thunderbird Mail Client.

Package: thunderbird-locale-lt
Architecture: any
Depends: ${misc:Depends}
Description: Lithuanian language packs for Thunderbird
 Lithuanian language packs for the Mozilla Thunderbird Mail Client.

Package: thunderbird-locale-lv
Architecture: any
Depends: ${misc:Depends}
Description: Latvian language packs for Thunderbird
 Latvian language packs for the Mozilla Thunderbird Mail Client.

Package: thunderbird-locale-ms
Architecture: any
Depends: ${misc:Depends}
Description: Malay language packs for Thunderbird
 Malay language packs for the Mozilla Thunderbird Mail Client.

Package: thunderbird-locale-nb
Architecture: any
Depends: ${misc:Depends}
Provides: thunderbird-locale-nb-no
Description: Bokmål, Norwegian; Norwegian Bokmål language packs for Thunderbird
 Bokmål, Norwegian; Norwegian Bokmål language packs for the Mozilla Thunderbird Mail Client.

Package: thunderbird-locale-nl
Architecture: any
Depends: ${misc:Depends}
Description: Dutch; Flemish language packs for Thunderbird
 Dutch; Flemish language packs for the Mozilla Thunderbird Mail Client.

Package: thunderbird-locale-nn
Architecture: any
Depends: ${misc:Depends}
Provides: thunderbird-locale-nn-no
Description: Norwegian Nynorsk; Nynorsk, Norwegian language packs for Thunderbird
 Norwegian Nynorsk; Nynorsk, Norwegian language packs for the Mozilla Thunderbird Mail Client.

Package: thunderbird-locale-pa
Architecture: any
Depends: ${misc:Depends}
Provides: thunderbird-locale-pa-in
Description: Panjabi; Punjabi language packs for Thunderbird
 Panjabi; Punjabi language packs for the Mozilla Thunderbird Mail Client.

Package: thunderbird-locale-pl
Architecture: any
Depends: ${misc:Depends}
Description: Polish language packs for Thunderbird
 Polish language packs for the Mozilla Thunderbird Mail Client.

Package: thunderbird-locale-pt
Architecture: any
Depends: ${misc:Depends}
Provides: thunderbird-locale-pt-br, thunderbird-locale-pt-pt
Description: Portuguese language packs for Thunderbird
 Portuguese language packs for the Mozilla Thunderbird Mail Client.

Package: thunderbird-locale-rm
Architecture: any
Depends: ${misc:Depends}
Description: Romansh language packs for Thunderbird
 Romansh language packs for the Mozilla Thunderbird Mail Client.

Package: thunderbird-locale-ro
Architecture: any
Depends: ${misc:Depends}
Description: Romanian language packs for Thunderbird
 Romanian language packs for the Mozilla Thunderbird Mail Client.

Package: thunderbird-locale-ru
Architecture: any
Depends: ${misc:Depends}
Description: Russian language packs for Thunderbird
 Russian language packs for the Mozilla Thunderbird Mail Client.

Package: thunderbird-locale-sk
Architecture: any
Depends: ${misc:Depends}
Description: Slovak language packs for Thunderbird
 Slovak language packs for the Mozilla Thunderbird Mail Client.

Package: thunderbird-locale-sl
Architecture: any
Depends: ${misc:Depends}
Description: Slovenian language packs for Thunderbird
 Slovenian language packs for the Mozilla Thunderbird Mail Client.

Package: thunderbird-locale-sq
Architecture: any
Depends: ${misc:Depends}
Description: Albanian language packs for Thunderbird
 Albanian language packs for the Mozilla Thunderbird Mail Client.

Package: thunderbird-locale-sr
Architecture: any
Depends: ${misc:Depends}
Description: Serbian language packs for Thunderbird
 Serbian language packs for the Mozilla Thunderbird Mail Client.

Package: thunderbird-locale-sv
Architecture: any
Depends: ${misc:Depends}
Provides: thunderbird-locale-sv-se
Description: Swedish language packs for Thunderbird
 Swedish language packs for the Mozilla Thunderbird Mail Client.

Package: thunderbird-locale-th
Architecture: any
Depends: ${misc:Depends}
Description: Thai language packs for Thunderbird
 Thai language packs for the Mozilla Thunderbird Mail Client.

Package: thunderbird-locale-tr
Architecture: any
Depends: ${misc:Depends}
Description: Turkish language packs for Thunderbird
 Turkish language packs for the Mozilla Thunderbird Mail Client.

Package: thunderbird-locale-uk
Architecture: any
Depends: ${misc:Depends}
Description: Ukrainian language packs for Thunderbird
 Ukrainian language packs for the Mozilla Thunderbird Mail Client.

Package: thunderbird-locale-uz
Architecture: any
Depends: ${misc:Depends}
Description: Uzbek language packs for Thunderbird
 Uzbek language packs for the Mozilla Thunderbird Mail Client.

Package: thunderbird-locale-vi
Architecture: any
Depends: ${misc:Depends}
Description: Vietnamese language packs for Thunderbird
 Vietnamese language packs for the Mozilla Thunderbird Mail Client.

Package: thunderbird-locale-zh-hans
Architecture: any
Depends: ${misc:Depends}
Provides: thunderbird-locale-zh-cn
Description: Simplified Chinese language packs for Thunderbird
 Simplified Chinese language packs for the Mozilla Thunderbird Mail Client.

Package: thunderbird-locale-zh-hant
Architecture: any
Depends: ${misc:Depends}
Provides: thunderbird-locale-zh-tw
Description: Traditional Chinese language packs for Thunderbird
 Traditional Chinese language packs for the Mozilla Thunderbird Mail Client.
