#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

DEB_VERSION=$(shell dpkg-parsechangelog | sed -n 's/^Version: //p')

%:
	dh $@

override_dh_auto_install:
	$(CURDIR)/gen-control.py $(DEB_HOST_ARCH) $(CURDIR) $(DEB_VERSION)
	rm -rf $(CURDIR)/debian/thunderbird*
	$(CURDIR)/download.py $(DEB_HOST_ARCH) $(CURDIR) $(DEB_VERSION)
	cp -r $(CURDIR)/usr $(CURDIR)/debian/thunderbird/
	dh_install

override_dh_auto_configure:
override_dh_auto_build:
override_dh_strip_nondeterminism:
override_dh_auto_strip:
override_dh_dwz:
override_dh_shlibdeps:
